spring.application.name=obs-canvas-backend

server.port=5174
socket.server.port=5175

# for Socket.io / CORS
app.frontend.url=http://localhost:5173

# twitch registration details
spring.security.oauth2.client.registration.twitch.client-id=
spring.security.oauth2.client.registration.twitch.client-secret=
spring.security.oauth2.client.registration.twitch.scope=user:read:email
spring.security.oauth2.client.registration.twitch.authorization-grant-type=authorization_code
spring.security.oauth2.client.registration.twitch.redirect-uri={baseUrl}/login/oauth2/code/{registrationId}
spring.security.oauth2.client.registration.twitch.client-name=Twitch
spring.security.oauth2.client.registration.twitch.client-authentication-method=client_secret_post

# twitch provider details
spring.security.oauth2.client.provider.twitch.authorization-uri=https://id.twitch.tv/oauth2/authorize
spring.security.oauth2.client.provider.twitch.token-uri=https://id.twitch.tv/oauth2/token
spring.security.oauth2.client.provider.twitch.user-info-uri=https://api.twitch.tv/helix/users
spring.security.oauth2.client.provider.twitch.user-name-attribute=data

spring.security.oauth2.client.provider.twitch.jwk-set-uri=https://id.twitch.tv/oauth2/keys

# enable debug logging for Spring Security to troubleshoot authentication issues
# logging.level.org.springframework.security=DEBUG